<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.learn.test.bean.UserDao"
          init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.learn.test.bean.UserService">
        <property name="uId" value="1"/>
        <property name="company" value="阿里巴巴"/>
        <property name="location" value="杭州"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>