<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.learn.test.bean.springaop.UserService"/>

    <bean id="defaultAdvisorAutoProxyCreator" class="com.learn.myspring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.learn.test.bean.springaop.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.learn.myspring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.learn.myspring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.learn.test.bean.springaop.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>